<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Font Awesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />

		<!-- Global Styles -->
		<link rel="stylesheet" href="/styles/main.css" />

		<!-- Page Specific Styles -->
		<% if (style) { %>
		<link rel="stylesheet" href="/styles/<%= style %>" />
		<% } %>

		<title><%= title %></title>
	</head>
	<body>
		<main>
			<header>
				<nav class="nav">
					<div class="logo">Data Warehouse</div>
					<ul class="nav-links">
						<% if (typeof session !== 'undefined') { %>
						<li><a href="/page/dashboard">Dashboard</a></li>
						<li><a href="/page/database">Database</a></li>
						<li><a href="/page/pipeline">Pipeline</a></li>
						<li><a href="/page/job">Job</a></li>
						<li><a href="/page/user">User</a></li>
						<li><a href="/page/log">Log</a></li>
						<li><a href="/page/profile">Profile</a></li>
						<% } else { %>
						<li><a href="/page/signin">Sign In</a></li>
						<% } %>
					</ul>
				</nav>
			</header>

			<div id="content"><%- body %></div>
		</main>

		<!-- Global Scripts -->
		<script src="/scripts/main.js"></script>
		<!-- Page Specific Scripts -->
		<% if (script) { %>
		<script src="/scripts/<%= script %>"></script>
		<% } %>
	</body>
</html>
